.boardContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px #BDBDBD solid;
}

.board {
    margin: 1rem;
    border-radius: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editButton {
    padding: 0.25rem 0.75rem;
    background-color: black;
    border-radius: 50px;
    color: white;
}

.editButton:hover {
    background-color: lightslategray;
    cursor: pointer;
}